
<%- include('includes/head.ejs') %>
<script src=""></script>

<script src="/javascripts/chatroom.js"></script>

</head>
<body>
<div class="container-fluid p-0">
    <H1 class="text-start fw-bold d-block position-relative fs-4" style="background-image: url('/images/banner.png');
    background-size: cover; background-position: center; padding: 5rem;">
        <span class="position-absolute bottom-0 start-0 pb-0 ps-2">Hello</span>
        <!-- change to btn with event lstnr delete session -->
        <form action="/login" method="GET" class="position-absolute top-0 end-0 m-2">
            <button type="submit" class="btn btn-light">Logout</button>
        </form>
    </H1>
    <div class="row m-1">
        <div class="col-12">
            <div class="input-group">
                <label for="message_input" class="visually-hidden">Message</label>
                <input type="text" class="form-control" id="message_input" name="message_input" placeholder="Enter your message...">
                <button type="button" class="btn btn-primary" id="SendBtn">Send</button>
            </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs') %>