
<%- include('includes/head.ejs') %>
<script src=""></script>

</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-4 shadow rounded" style="width: 300px;">
        <!-- Picture -->
        <img src="/images/logo1.png" alt="Register Image" class="img-fluid mb-3" style="max-height: 150px;">

        <!-- Title -->
        <h3 class="mb-4">Register</h3>

        <!-- Form -->
        <% if (startRegistration) {%>
            <form action="/signup/password" method="POST">
                <!-- Email Input -->
                <div class="mb-3 form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <label for="email" class="form-label">Email</label>
                </div>

                <!-- First Name Input -->
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="first-name" name="first_name" placeholder="First Name"
                           pattern="[A-Za-z]+" minlength="3" maxlength="32" required
                           title="Please enter a valid first name with only letters (3 to 32 characters).">
                    <label for="first-name" class="form-label">First Name</label>
                </div>

                <!-- Last Name Input -->
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Last Name"
                           pattern="[A-Za-z]+" minlength="3" maxlength="32" required
                           title="Please enter a valid last name with only letters (3 to 32 characters).">
                    <label for="last-name" class="form-label">Last Name</label>
                </div>

                <p class="text-danger"> <%= errorMsg %> </p>
                <!-- Next Button -->
                <button type="submit" class="btn btn-primary w-100">Next</button>

            </form>
        <%} else{%>
            <form action="/signup" method="POST">
                <div class="mb-3 form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
                           minlength="3" maxlength="32" required
                           title="Please enter a valid password with only letters (3 to 32 characters).">
                    <label for="password">Enter password</label>
                </div>

                <div class="mb-3 form-floating">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password"
                           minlength="3" maxlength="32" required>
                    <label for="confirm_password">Confirm password</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Signup</button>
            </form>
        <%}%>


        <!-- Additional Text -->
        <p class="mt-3 text-muted">Already have an account? <a href="/login">Login</a></p>
    </div>
</div>

<%- include('includes/end.ejs') %>